[submodule ".vim/colors/badwolf"]
	path = .vim/colors/badwolf
	url = git@github.com:sjl/badwolf.git
[submodule ".vim/colors/molokai"]
	path = .vim/colors/molokai
	url = git@github.com:tomasr/molokai.git
[submodule "NERDtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "CtrlP"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "Goyo"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "Solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
