!.Xresources 
urxvt.scrollBar:      false
urxvt.matcher.button: 1
urxvt.transparent:    false
urxvt.allow_bold:     true

Xft.dpi:              192
Xft.antialias:        true
Xft.hinting:          full

URxvt.geometry:       85x16
URxvt.fading:         0
URxvt.tintColor:      #ffffff
URxvt.shading:        0
URxvt.inheritPixmap:  False

#include ".urxvt/.cottoncandy"
!#include ".urxvt/.darkreds"
!#include ".urxvt/.papercolour"
!#include ".urxvt/.zenburn"

URxvt.urlLauncher:    firefox
URxvt.matcher.button: 1

URxvt.font: xft:Source Code Pro:size=8
